<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Agu+Display&display=swap" rel="stylesheet">

<div style="margin: 0; padding: 0;">
  <div 
  *ngIf="showPromotion" 
  class="info-bar py-2 text-center w-100"
  [ngClass]="{ 
    'bg-warning text-dark': theme !== 'christmas', 
    'bg-white text-black': theme === 'christmas' 
  }"
>
  <p class="mb-0">
    <i class="bi bi-truck"></i> <strong style="color: black !important"> Envio grátis para todo Portugal Continental em compras acima de 100 euros</strong>
  </p>
</div>


  <div *ngIf="isAuthenticaded && numberOfPurchases === 0 && userType === 'individual'  " class="info-bar bg-dark text-white py-2 text-center w-100">
    <p class="mb-0">
      <i class="bi bi-gift"></i> Promoção de 10% na sua primeira compra! Use o código <strong>PRIMEIRACOMPRA</strong>
    </p>
  </div>
  <div *ngIf="!isAuthenticaded" class="info-bar bg-dark text-white py-2 text-center w-100">
    <a routerLink="/login" class="text-white text-decoration-none">
      <p class="mb-0">
        <i class="bi bi-gift"></i> Promoção de 10% na sua primeira compra! Faça login e use o código <strong>PRIMEIRACOMPRA</strong>
      </p>
    </a>
  </div>
  

  <div *ngIf="theme === 'default'" id="carouselExampleIndicators" class="carousel slide w-100" data-bs-ride="carousel" style="margin: 0; padding: 0;">
    <div class="carousel-inner w-100">
      <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
        <a [routerLink]="['/artistsProducts', slide.name]">
          <img [src]="slide.image" class="d-block w-100" [alt]="slide.alt" style="height: 700px; width: 100%; object-fit: cover;" />
        </a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div *ngIf="theme === 'christmas'" class="christmas-theme">
    <img src="assets/back3.jpg" alt="Fundo de Natal" class="background-image" />
  
    <h1 class="title">🎄 Merry Christmas! 🎅</h1>
    <div class="countdown-container">
      <countdown [config]="{ leftTime: getTimeUntilChristmas(), format: 'd:HH:mm:ss' }"></countdown>
    </div>

  </div>
  



  <div class="section-background">
    <app-artists-list
      title="Artistas"
      [artists]="artists"
      [showButton]="true"
      buttonLabel="Ver todos os artistas"
      buttonLink="/artists-page"
    ></app-artists-list>
  </div>
  
  <!-- Products List -->
  <div class="section-background">
    <app-products-list
      title="Produtos recentemente adicionados"
      [products]="recentProducts"
      [showButton]="true"
      buttonLabel="Ver todos os produtos"
      buttonLink="/products"
    ></app-products-list>
  </div>

</div>
