@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif !important;
}

.banner {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* Efeito de hover com transição suave */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Aumenta o card e adiciona sombra ao passar o mouse */
.card-hover:hover {
    transform: scale(1.05); /* Aumenta o card */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Sombra suave */
}

/* Efeito de zoom na imagem dentro do card */
.card-img-wrapper {
    height: 60%; /* A imagem ocupará 60% da altura do card */
    overflow: hidden; /* Esconde o excesso da imagem */
}

.card-img-top {
    transition: transform 0.3s ease; /* Suaviza o zoom */
    height: 100%;
    width: 100%;
    object-fit: cover; 
}

.card-hover:hover .card-img-top {
    transform: scale(1.05); /* Zoom na imagem */
}

.custom-card-size {
    height: 400px; /* Altura maior */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container.body-content {
    max-width: 100%;
}

.container-fluid{
    height: 60px;
    margin-bottom: 10px;
}

.search-input {
    border: 1px solid black; /* Borda preta ao campo de entrada */
}