<div class="product-card">
  <!-- Artist Identifier -->
  <div class="artist-identifier" *ngIf="product.artist">
    <a [routerLink]="['/products', product.artist.name]">
      <img [src]="product.artist.image_url" [alt]="product.artist.name" />
    </a>
  </div>

  <!-- Favorite Icon -->
  <i
    *ngIf="user?.is_authenticated && user?.user_type === 'individual'"
    class="fa fa-heart favorite-icon"
    [ngClass]="{ filled: product.is_favorited }"
    (click)="toggleFavorite($event,product.id)">
  </i>

  <!-- Product Details -->
  <a [routerLink]="['/product', product.id]" class="d-block">
    <img [src]="product.image_url" [alt]="product.name" class="product-image" />
    <div class="p-3 text-center">
      <p class="product-name mb-0">{{ product.name }}</p>
      <p class="product-price">{{ product.price | currency: 'EUR' }}</p>
      <button class="btn btn-add-to-cart w-100" (click)="addToCart(product)">
        Adicionar ao carrinho
      </button>
    </div>
  </a>
</div>
