<div class="container my-5">
    <h1 class="my-4 text-center">Produtos de {{ company?.name }}</h1>
  
    <!-- Mensagem para quando não houver produtos -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <a></a>
      <p *ngIf="!products.length" class="text-muted mb-0">
        Não existem produtos disponíveis. Clique em "Adicionar Produto" para começar a adicionar!
      </p>
    </div>
  
    <!-- Botão para adicionar produtos -->
    <button
      class="btn btn-dark mb-4"
      style="width: 100%;"
      (click)="onAddProduct()"
    >
      Adicionar Produto
    </button>
  
    <!-- Lista de Produtos -->
    <div class="row">
      <div
        class="col-6 col-md-4 col-lg-3 mb-4"
        *ngFor="let product of products"
      >
        <div class="product-card">
          <a
            [routerLink]="['/companies', company?.id, 'products', product.id]"
            class="d-block"
            style="text-decoration: none; color: inherit;"
          >
            <img
              [src]="product.image_url"
              [alt]="product.name"
              class="card-img-top product-image"
            />
            <div class="p-3 text-center product-info">
              <h5 class="product-name">{{ product.name }}</h5>
              <p class="product-price">{{ product.price | currency }}</p>
              <p class="product-description">
                {{ product.description | slice: 0:50 }}...
              </p>
              <div
                class="d-flex justify-content-center align-items-center"
                style="margin-bottom: 40px"
              >
                <div class="me-3">
                  <i class="fa fa-heart text-danger"></i>
                  {{ product.favorites_count }}
                </div>
                <div>
                  <i class="fa fa-comment text-info"></i>
                  {{ product.reviews_count }}
                </div>
              </div>
            </div>
          </a>
  
          <!-- Botões de ações -->
          <div class="d-flex justify-content-center">
            <!-- Botão de adicionar estoque -->
            <button
              class="btn btn-sm btn-success me-2"
              (click)="openStockModal(product)"
            >
              <i class="fas fa-plus me-1" style="color: black;"></i> Stock
            </button>
  
            <!-- Botão de editar -->
            <a
                [routerLink]="['/companies', company?.id, 'products', product.id, 'edit']"
            class="btn btn-sm btn-warning me-2"
            >
              <i class="fas fa-edit me-1" style="color: black;"></i>Editar
            </a>
  
            <!-- Botão de excluir -->
            <button
              class="btn btn-sm btn-danger"
              (click)="onDeleteProduct(product.id)"
            >
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <app-size-stock-modal
  [isModalOpen]="isStockModalOpen"
  [productStockSize]="selectedProduct?.stock_size || null"
  (closeModalEvent)="closeStockModal()"
  (saveChangesEvent)="onSaveStockChanges($event)"
></app-size-stock-modal>

