.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product-card:hover {
    transform: translateY(-5px);
}

.product-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.product-info {
    height: 80px; 
    overflow: hidden;
}

.product-name {
    font-weight: bold;
    color: #333;
    font-size: 1em;
    margin: 0;
}
.product-price {
    color: #888;
    font-size: 1.1em;
    font-weight: bold;
}
.product-description {
    color: #555;
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.btn{
    width: 80% !important;
}
.text-danger {
    color: #dc3545; /* Cor vermelha */
  }
  
  .text-warning {
    color: #ffc107; /* Cor amarela */
  }
  
  .promotion-price {
    text-decoration: line-through; /* Linha sobre o preço original */
    color: #6c757d; /* Cor cinza */
  }
  
.fa-trash {
    color: #111; /* Cor vermelha */
}