:root {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-theme {
    --background-color: #343a40 !important;
    --text-color: #ffffff;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .fa-paint-brush {
    color: #000000 !important;
    padding-left: 10px;
  }


  .dark-theme .navbar {
    background-color: #343a40 !important; 
    height: 80px;
  }

  .dark-theme .nav-link {
    color: #ffffff !important;
  }
.sidebar-filter {
    background-color: #f8f9fa;
    color: #343a40; 
    border: 2px solid #f8f9fa;
  }
  
  .dark-theme .sidebar-filter {
    background-color: #343a40 !important;
    color: #f8f9fa;
  }
  
  .dark-theme .form-control {
    background-color: #495057;
    color: #f8f9fa !important; 
    border: 1px solid #343a40;
  }
  
  .dark-theme .form-control::placeholder {
    color: #adb5bd;
  }
  
  .dark-theme .btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: #f8f9fa;
  }
  
  .dark-theme .btn-success {
    background-color: #198754;
    border-color: #198754;
    color: #f8f9fa;
  }
  
  .dark-theme p {
    color: #f8f9fa !important;
  }

  .dark-theme .logo{
    filter: brightness(0) invert(1) !important;
    background-color: transparent !important;
  }

  .dark-theme .card{
    background-color: #343a40;
    color: #f8f9fa;
  }
  .btn .dark-theme{
    background-color: #343a40;
    color: #f8f9fa !important;
  }

  .dark-theme .form-label{
    color: #f8f9fa !important;
  }

  .dark-theme .form-signin{
    background-color: #343a40 !important;
    color: #f8f9fa;
  }

  .dark-theme{
    color: #f8f9fa !important;
  }

  .dark-theme .navbar-text {
    color: #f8f9fa !important;
  }

  .no-link-color {
    color: inherit; /* Or specify a color like black, e.g., #000 */
    text-decoration: none;
  }
  
  .no-link-color:hover,
  .no-link-color:visited,
  .no-link-color:active {
    color: inherit; /* Ensure consistent color across states */
    text-decoration: none; /* Optional: Remove underline in all states */
  }
  

  body.dark-theme {
    background-color: #343a40; /* Example dark background */
    color: #ffffff; /* General text color */
  }
  
  body.dark-theme a {
    color: #ffffff; /* White text color for links */
    background-color: #343a40;
  }
  
  body.dark-theme a.btn {
    border-color: #ffffff; /* White border for button links */
    color: #ffffff; /* White text color for button links */
  }
  
  body.dark-theme a .fa, 
  body.dark-theme a .bi {
    color: #ffffff; /* White color for icons inside links */
  }
  
  body.dark-theme .navbar {
    background-color: #222222; /* Dark background for navbar */
  }
  body.dark-theme span{
    color: #ffffff; /* White text color for navbar links */
    border-color: #ffffff;
  }
  body.dark-theme span:hover{
    color: #ffffff; /* White text color for navbar links */
    border-color: #ffffff;
    background-color: #222222;
  }
  body.dark-theme button{
    color: #ffffff; /* White text color for navbar links */
    border-color: #ffffff;
  }
  body.dark-theme div{
    color: #ffffff; /* White text color for navbar links */
    border-color: #ffffff;
    background-color: #343a40;
  }
  body.dark-theme .navbar-toggler{
    color: #ffffff; /* White text color for navbar links */
    border-color: #ffffff;
  }

  body.dark-theme h5{
    color: #ffffff !important
  }

  body.dark-theme h1{
    color: #ffffff !important
  }

  body.dark-theme h2{
    color: #ffffff !important
  }

  body.dark-theme h3{
    color: #ffffff !important
  }

  body.dark-theme h4{
    color: #ffffff !important
  }

  body.dark-theme h6{
    color: #ffffff !important
  }

  body.dark-theme img{
    background-color: #ffffff !important;
  }

  body.dark-theme table{
    color: #ffffff !important;
    border: #ffffff !important;
  }

  body.dark-theme th{
    color: #ffffff !important;
    background-color: #343a40 !important;
  }

  body.dark-theme td{
    color: #ffffff !important;
    background-color: #343a40 !important;
  }




  body.dark-theme input:focus {
    color: #000000 !important; /* Black text when input is focused */
  }

  body.dark-theme .sidebar {
    color: #ffffff !important;
    background-color: #343a40 !important;

  }

  body.dark-theme .sidebar a {
    color: #ffffff !important;
  }
  
  body.dark-theme .sidebar a:hover {
    color: #ffffff !important;
    background-color: #222222 !important;
  }

  body.dark-theme .seven {
    color: #ffffff !important;
    background-color: #343a40 !important;

  }

  body.dark-theme .modal {
    background-color: transparent;
  }

  body.dark-theme label {
    color: hsl(0, 0%, 100%) !important;
  }

  body.dark-theme .btn-close {
    filter: brightness(0) invert(1) !important;
  }

  body.dark-theme .chat-header {
    background-color: #343a40 !important;
    color: #ffffff !important;
  }