{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User and Product List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    {% block css %}
    <style>
        .user-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        #product-section, #user-section, #company-section {
            max-height: 800px; /* adjust as needed */
            overflow-y: auto;
}

        .product-image {
            width: 50px;
            height: 50px;
            object-fit: cover;
        }

        .table td, .table th {
            vertical-align: middle;
        }

        .btn-danger {
            background: #DD2750;
            border: 1px solid #C43352;
        }

        .btn-light {
            border: 1px solid #E7E7E9;
        }

        .container-fluid {
            display: flex;
            flex-direction: row;
        }

        .sidebar {
            width: 300px;
            padding: 20px;
            background-color: #f8f9fa;
            border-right: 1px solid #ddd;
        }

        .sidebar a {
            display: block;
            padding: 10px;
            color: #000;
            text-decoration: none;
            margin-bottom: 5px;
            border-radius: 4px;
            transition: background-color 0.2s;
        }

        .sidebar a:hover {
            background-color: #e9ecef;
        }

        .content-section {
            flex-grow: 1;
            padding: 20px;
            width: 100%;
        }

        .content-section h1 {
            margin-top: 10px;
        }

        .content-table {
            display: none;
        }

        .content-table.active {
            display: block;
        }
    </style>
    {% endblock %}
</head>
{% block content %}
<body>
    <div class="container-fluid" style="margin-bottom: 100px">
        <div class="sidebar">
            <h3>Dashboard do Administrador</h3>
            <a href="#" onclick="showSection('user-section')">Lista de Utilizadores</a>
            <a href="#" onclick="showSection('product-section')">Lista de Produtos</a>
            <a href="#" onclick="showSection('company-section')">Lista de Empresas</a>
        </div>

        <div class="content-section">
            <div id="user-section" class="content-table active">
                <h1>Lista de Utilizadores:</h1>
                {% if users %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Imagem</th>
                                <th scope="col">Username</th>
                                <th scope="col">Email</th>
                                <th scope="col">Número de Compras</th>
                                <th scope="col"  >Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if user.user_type == 'individual' %}
                                    <tr>
                                        <td>
                                            {% if user.image %}
                                                <img src="{{ user.image.url }}" alt="{{ user.name }}" class="user-image">
                                            {% else %}
                                                <img src="/media/user.png" alt="{{ user.name }}" class="user-image">
                                            {% endif %}
                                        </td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.number_of_purchases }}</td>
                                        <td  >
                                            <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal2" data-user-id="{{ user.id }}">
                                                <i class="fas fa-trash-alt"></i> Banir Utilizador
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-muted">No users found.</p>
                {% endif %}
            </div>

            <div id="product-section" class="content-table" style="margin-bottom: 200px">
                <h1>Lista de Produtos:</h1>
                {% if products %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Imagem</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Preço</th>
                                <th scope="col">Stock</th>
                                <th scope="col">Numero de Avaliações</th>
                                <th scope="col">Média de Avaliações</th>
                                <th scope="col"  >Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
                                        {% else %}
                                            <img src="/media/default-product.png" alt="{{ product.name }}" class="product-image">
                                        {% endif %}
                                    </td>
                                    <td><a href="{% url 'company_product_detail' company_id=product.company.id product_id=product.id %}" style="color: black; text-decoration: none">{{ product.name }}</a></td>
                                    <td>{{ product.price }}€</td>
                                    <td>{{ product.get_stock }}</td>
                                    <td>{{ product.review_count }}</td>
                                    <td>{{ product.get_average_rating }}</td>
                                    <td  >
                                        {% if product.get_product_type == 'Clothing' %}
                                        <button
                                            class="btn btn-sm btn-success me-2"
                                            data-product-id="{{ product.id }}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addClothingStockModal"
                                            data-xs="{{ product.size_stock.XS }}"
                                            data-s="{{ product.size_stock.S }}"
                                            data-m="{{ product.size_stock.M }}"
                                            data-l="{{ product.size_stock.L }}"
                                            data-xl="{{ product.size_stock.XL }}">
                                            <i class="fas fa-plus" style="margin-right: 4px; color: black"></i> Adicionar Stock
                                        </button>
                                        {% else %}
                                        <button
                                            class="btn btn-sm btn-success me-2"
                                            data-product-id="{{ product.id }}"
                                            data-bs-toggle="modal"
                                            data-bs-target="#addStockOnlyModal"
                                            data-stock="{{ product.size_stock }}">
                                            <i class="fas fa-plus" style="margin-right: 4px; color: black"></i> Adicionar Stock
                                        </button>
                                        {% endif %}
                                        <a href="{% url 'edit_product' product.company.id product.id %}" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i> Editar Produto</a>
                                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal" data-product-id="{{ product.id }}"><i class="fas fa-trash-alt"></i> Apagar Produto</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-muted">No products found.</p>
                {% endif %}
            </div>

            <div id="company-section" class="content-table">
                <h1>Lista de Empresas:</h1>
                {% if users %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Logo</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Telemóvel</th>
                                <th scope="col">Morada</th>
                                <th scope="col">Numero de Produtos</th>
                                <th scope="col">Média de Avaliações</th>
                                <th scope="col">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                                {% if user.user_type == 'company' and user.company %}
                                    <tr>
                                        <td>
                                            {% if user.company.logo %}
                                                <img src="{{ user.company.logo.url }}" alt="{{ user.company.name }}" class="user-image">
                                            {% else %}
                                                <img src="/media/company_default.png" alt="Default Logo" class="user-image">
                                            {% endif %}
                                        </td>
                                        <td>{{ user.company.name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.company.phone }}</td>
                                        <td>{{ user.company.address }}</td>
                                        <td>{{ user.company.getNumberOfProducts }}</td>
                                        <td>{{ user.company.get_average_rating }}</td>
                                        <td><a href="#" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModal1" data-company-id="{{ user.company.id }}"><i class="fas fa-trash-alt"></i> Ban Company</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="text-muted">Não foram encontradas empresas.</p>
                {% endif %}
                <div class="row mt-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-dark w-100" onclick="window.location.href='{% url 'add_company' %}'">Adicionar Nova Empresa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container d-flex pl-0">
                        <img src="https://imgur.com/Kh1gwTq.png">
                        <h5 class="modal-title ml-2" id="exampleModalLabel">Apagar o produto?</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Se apagar, este produto vai desaparecer para sempre. Tem a certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a href="#" id="confirmDeleteButton" class="btn btn-danger">Delete</a> 
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container d-flex pl-0">
                        <img src="https://imgur.com/Kh1gwTq.png">
                        <h5 class="modal-title ml-2" id="exampleModalLabel1">Apagar a Empresa?</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Se apagar, esta empresa vai desaparecer para sempre. Tem a certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a href="#" id="confirmDeleteButton1" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container d-flex pl-0">
                        <img src="https://imgur.com/Kh1gwTq.png">
                        <h5 class="modal-title ml-2" id="exampleModalLabel1">Apagar Utilizador?</h5>
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="text-muted">Se apagar, este utilizador vai desaparecer para sempre. Tem a certeza?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <a href="#" id="confirmDeleteButton2" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    </div>

<div class="modal fade" id="addClothingStockModal" tabindex="-1" aria-labelledby="addClothingStockModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addClothingStockForm" method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addClothingStockModalLabel">Adicionar Stock para Roupas</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex mb-3">
                        <label for="size_xs" class="col-form-label me-2" style="min-width: 70px;">XS:</label>
                        <input type="number" name="size_xs" id="size_xs" class="form-control" min="0" value="0">
                    </div>

                    <div class="d-flex mb-3">
                        <label for="size_s" class="col-form-label me-2" style="min-width: 70px;">S:</label>
                        <input type="number" name="size_s" id="size_s" class="form-control" min="0" value="0">
                    </div>

                    <div class="d-flex mb-3">
                        <label for="size_m" class="col-form-label me-2" style="min-width: 70px;">M:</label>
                        <input type="number" name="size_m" id="size_m" class="form-control" min="0" value="0">
                    </div>

                    <div class="d-flex mb-3">
                        <label for="size_l" class="col-form-label me-2" style="min-width: 70px;">L:</label>
                        <input type="number" name="size_l" id="size_l" class="form-control" min="0" value="0">
                    </div>

                    <div class="d-flex mb-3">
                        <label for="size_xl" class="col-form-label me-2" style="min-width: 70px;">XL:</label>
                        <input type="number" name="size_xl" id="size_xl" class="form-control" min="0" value="0">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="add1">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="addStockOnlyModal" tabindex="-1" aria-labelledby="addStockOnlyModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addStockOnlyForm" method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addStockOnlyModalLabel">Adicionar Stock</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <label for="stock">Stock:</label>
                    <input type="number" name="stock" id="stock" class="form-control" min="0" value="0">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" id="add">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        function showSection(sectionId) {
            document.querySelectorAll('.content-table').forEach(section => {
                section.classList.remove('active');
            });
            document.getElementById(sectionId).classList.add('active');
        }

        $('#exampleModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var productId = button.data('product-id'); 

            var deleteUrl = "/admin_home/delete/" + productId ;
            $('#confirmDeleteButton').attr('href', deleteUrl);
        });
        $('#exampleModal1').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var companyId = button.data('company-id');

            var deleteUrl = "/admin_home/delete/company/" + companyId ; 
            $('#confirmDeleteButton1').attr('href', deleteUrl);
        });
        $('#exampleModal2').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); 
            var userId = button.data('user-id'); 

            var deleteUrl = "/delete_user/" + userId;
            $('#confirmDeleteButton2').attr('href', deleteUrl);
        });
        document.addEventListener("DOMContentLoaded", function () {
    const clothingStockModal = document.getElementById('addClothingStockModal');
    clothingStockModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const productId = button.getAttribute('data-product-id');

        document.getElementById('size_xs').value = button.getAttribute('data-xs') || 0;
        document.getElementById('size_s').value = button.getAttribute('data-s') || 0;
        document.getElementById('size_m').value = button.getAttribute('data-m') || 0;
        document.getElementById('size_l').value = button.getAttribute('data-l') || 0;
        document.getElementById('size_xl').value = button.getAttribute('data-xl') || 0;

        const form = document.getElementById('addClothingStockForm');
        form.action = `/product/${productId}/add_clothing_stock/`;
    });

    const generalStockModal = document.getElementById('addStockOnlyModal');
    generalStockModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const productId = button.getAttribute('data-product-id');

        const stock = button.getAttribute('data-stock');
        console.log("Current stock for non-clothing product:", stock);

        document.getElementById('stock').value = stock !== null ? stock : 0;

        const form = document.getElementById('addStockOnlyForm');
        form.action = `/product/${productId}/add_stock/`;

    });

});
    </script>
</body>
</html>
{% endblock %}
