{% extends "layout.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% block content %}
<div class="container mt-5">
    <div class="back-to-shop mt-4">
        <a href="{% url 'produtos' %}" class="text-decoration-none">
            <i class="fas fa-arrow-left"></i> 
            <span class="text-muted">Continue a comprar</span>
        </a>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 cart shadow-lg rounded bg-white p-4">
            <h3 class="mb-4 font-weight-bold">Carrinho:</h3>
            <div class="cart-items">
                {% for item in cart_items %}
                    <div class="row border-bottom py-4 align-items-center">
                        <div class="col-3">
                            <img class="img-fluid rounded shadow-sm" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </div>
                        <div class="col-5">
                            <h5 class="font-weight-bold">{{ item.product.name }}</h5>
                            <div class="text-muted small">{{ item.product.category }}</div>
                            <div class="d-flex align-items-center mt-2">
                                <h6 class="font-weight-bold">Quantidade: {{ item.quantity }}</h6>
                            </div>
                        </div>
                        <div class="col-3 text-right">
                            <h5 class="text-primary font-weight-bold">&euro; {{ item.product.price|floatformat:2 }}</h5>
                        </div>
                        <div class="col-1 text-right">
                            <a href="{% url 'remove_from_cart' item.product.id %}" class="close text-danger">&#10005;</a>
                        </div>
                    </div>
                {% empty %}
                    <p class="text-center text-muted">Carrinho Vazio</p>
                {% endfor %}
            </div>
            <div class="d-flex justify-content-between mt-4">
                <h4 class="font-weight-bold">Total:</h4>
                <h4 class="text-primary font-weight-bold">&euro; {{ subtotal|floatformat:2 }}</h4>
            </div>
        </div>

        <div class="col-md-4 summary shadow-lg rounded bg-light p-4">
            <h4 class="mb-4 font-weight-bold">Detalhes de pagamento</h4>
            <hr class="mb-4">
            <form method="POST" action="{% url 'process_payment' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="payment_method" class="font-weight-bold">Métodos de Pagamento</label>
                    <select class="form-control" id="payment_method" name="payment_method" required>
                        <option value="Credit Card">Cartão de Crédito</option>
                        <option value="PayPal">PayPal</option>
                        <option value="Bank Transfer">Transferência bancária</option>
                    </select>
                </div>
                <div class="form-group mt-3">
                    <label for="shipping_address" class="font-weight-bold">Endereço</label>
                    <input type="text" class="form-control" id="shipping_address" name="shipping_address" required minlength="4" value="{{ user.address}}">
                    <div class="invalid-feedback">
                        The shipping address must be at least 4 characters long.
                    </div>
                </div>
                <div class="form-group mt-3">
                    <label for="discount_code" class="font-weight-bold">Código de Desconto</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="discount_code" name="discount_code">
                        <button type="button" id="apply_discount" class="btn btn-secondary">Aplicar</button>
                    </div>
                </div>
                <div class="border-top pt-3 mt-4">
                    <div class="d-flex justify-content-between">
                        <span class="font-weight-bold">Subtotal:</span>
                        <span>&euro; {{ subtotal|floatformat:2 }}</span>
                    </div>
                
                    {% if discount_applied %}
                        <div class="d-flex justify-content-between mt-2">
                            <span class="font-weight-bold text-danger">Desconto Aplicado:</span>
                            <span class="text-danger">-&euro; {{ discount_value|floatformat:2 }}</span>
                        </div>
                    {% endif %}
                
                    <div class="d-flex justify-content-between mt-2">
                        <span class="font-weight-bold">Portes de Envio:</span>
                        <span>&euro; {{ shipping_cost|floatformat:2 }}</span>
                    </div>
                
                    <div class="d-flex justify-content-between mt-2 border-top pt-2">
                        <span class="font-weight-bold">Total Final:</span>
                        <span class="text-primary font-weight-bold">&euro; {{ final_total|floatformat:2 }}</span>
                    </div>
                </div>
                <div class="text-end mt-4">
                    <button name="complete_payment" type="submit" class="btn btn-primary">Concluir Pagamento</button>
                </div>
                 
             </form>
        </div>
    </div>
</div>
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Encomenda Realizada</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sua encomenda foi realizada com sucesso!
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        if (urlParams.has('success')) {
            const successModal = new bootstrap.Modal(document.getElementById('successModal'));
            successModal.show();

            setTimeout(() => {
                successModal.hide();
                window.location.href = '{% url "home" %}';
            }, 2000);
        }
    });
    document.getElementById('apply_discount').addEventListener('click', function() {
        const discountCode = document.getElementById('discount_code').value;
        const csrfToken = '{{ csrf_token }}'; 
    
        fetch("{% url 'apply_discount' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken
            },
            body: JSON.stringify({ discount_code: discountCode })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload(); 
            } else {
                alert(data.message); 
            }
        })
        .catch(error => console.error('Erro ao aplicar o desconto:', error));
    });
    document.getElementById('shipping_address').addEventListener('input', function (event) {
        const shippingAddress = event.target.value;
        if (shippingAddress.length < 4) {
            event.target.classList.add('is-invalid');
            event.target.setCustomValidity("Shipping address must be at least 4 characters long.");
        } else {
            event.target.classList.remove('is-invalid');
            event.target.setCustomValidity("");
        }
    });
</script>
{% endblock %}
