<div class="sidebar-filter bg-light p-3 rounded mb-3">
    <form #filterForm="ngForm">
      <h5>Tipo de Produto</h5>
      <div class="form-group">
        <div *ngFor="let type of productTypes">
          <input
            type="radio"
            name="type"
            [value]="type.value"
            [(ngModel)]="selectedType"
            [id]="type.value"
            (change)="onFilterChange()"
            />
          <label [for]="type.value">{{ type.label }}</label><br />
        </div>
      </div>
      <div *ngIf="selectedType === 'Vinil'" id="vinil-filters">
        <h5>Gênero</h5>
        <div class="form-group">
          <select name="genreVinyl" [(ngModel)]="filters.genreVinyl" class="form-control" (change)="onFilterChange()" >
            <option value="">Todos</option>
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
          </select>
        </div>
      </div>
  
      <div *ngIf="selectedType === 'CD'" id="cd-filters">
        <h5>Gênero</h5>
        <div class="form-group">
          <select name="genreCD" [(ngModel)]="filters.genreCD" class="form-control" (change)="onFilterChange()"   >
            <option value="">Todos</option>
            <option *ngFor="let genre of genres" [value]="genre">{{ genre }}</option>
          </select>
        </div>
      </div>
  
      <div *ngIf="selectedType === 'Clothing'" id="clothing-filters">
        <h5>Cor</h5>
        <div class="form-group">
          <select name="colorClothing" [(ngModel)]="filters.colorClothing" class="form-control" (change)="onFilterChange()" >
            <option value="">Todas</option>
            <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
          </select>
        </div>
      </div>
  
      <div *ngIf="selectedType === 'Accessory'" id="accessory-filters">
        <h5>Cor</h5>
        <div class="form-group">
          <select name="colorAccessory" [(ngModel)]="filters.colorAccessory" class="form-control" (change)="onFilterChange()" >
            <option value="">Todas</option>
            <option *ngFor="let color of colors" [value]="color">{{ color }}</option>
          </select>
        </div>
        <h5>Tamanho</h5>
        <div class="form-group">
          <select name="size" [(ngModel)]="filters.size" class="form-control" (change)="onFilterChange()" >
            <option value="">Todos</option>
            <option *ngFor="let size of sizes" [value]="size">{{ size }}</option>
          </select>
        </div>
      </div>
  
      <h5>Faixa de Preço</h5>
      <div class="form-row">
        <div class="col">
          <label for="min-price">Minímo:</label>
          <input
            type="number"
            name="min_price"
            id="min-price"
            [(ngModel)]="filters.min_price"
            class="form-control"
            placeholder="€0"
            (change)="onFilterChange()"

          />
        </div>
        <div class="col">
          <label for="max-price">Máximo:</label>
          <input
            type="number"
            name="max_price"
            id="max-price"
            [(ngModel)]="filters.max_price"
            class="form-control"
            placeholder="€50"
            (change)="onFilterChange()"

          />
        </div>
      </div>
  
      <div class="form-group d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-secondary" style="width: 48%" (click)="resetFilters()">
          Reiniciar Filtros
        </button>
      </div>
    </form>
  </div>
  