/* Style the dropdown menu */
.dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
    width: 300px
  }
  
  /* Style each dropdown item */
  .dropdown-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 60px;
    font-size: 20px;
  }
  
  /* Style the artist image */
  .artist-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
  }
  