.product-container {
    display: flex;
    align-items: center;
  }
  
  .product-img {
    width: 95%;
    height: auto;
    object-fit: cover;
  }
  
  .star-rating .star {
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .star-rating .star.selected {
    color: gold;
  }
  
  .text-muted {
    text-decoration: line-through;
    color: #6c757d;
  }
  
  .text-danger {
    font-weight: bold;
    color: #dc3545;
  }
  
  .badge.bg-warning {
    background-color: #ffc107;
    color: #212529;
  }

  .badge-large {
    font-size: 1.2rem;  
    border-radius: 0.5rem;
  }
  
  