<div class="container my-8" style="max-width: 75%;">
    <h1 class="my-4 text-center">Produtos</h1>
  
    <div class="row">
      <!-- Filters -->
      <div class="col-md-3">
        <app-filtro (filtersChanged)="applyFilters($event)"></app-filtro>
      </div>
  
      <!-- Products -->
      <div class="col-md-9">
        <div class="row">
          <app-product-card
            *ngFor="let product of products"
            [product]="product"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>
  