<div class="container my-5">
    <h2 class="text-center mb-4">{{ title }}</h2>
    <div class="row">
      <div *ngFor="let artist of artists" class="col-6 col-md-4 col-lg-3 mb-4">
        <a [routerLink]="['/artistDetails', artist.id]" class="text-decoration-none">
          <div class="card card-hover" style="height: 400px;">
            <div class="card-img-wrapper" style="height: 85%;">
              <img [src]="artist.image" class="card-img-top" [alt]="artist.name" style="height: 100%; object-fit: cover;" />
            </div>
            <div class="card-body text-center" style="height: 15%;">
              <p class="card-text">{{ artist.name }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div *ngIf="showButton" class="text-center mt-4 showAllArtists">
      <a [routerLink]="buttonLink" class="btn btn-warning">{{ buttonLabel }}</a>
    </div>
  </div>
  