<app-ban-user-modal
  [isModalOpen]="selectedUserId !== null"
  [selectedUserId]="selectedUserId"
  [actionType]="actionType"
  (closeModalEvent)="closeBanUserModal()"
  (confirmActionEvent)="actionType === 'ban' ? onConfirmBan($event) : onConfirmUnban($event)"
></app-ban-user-modal>

<div *ngIf="users?.length; else noUsers">
  <table class="table table-bordered table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Imagem</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Telefone</th>
        <th scope="col">Tipo de utilizador</th>
        <th scope="col">Country</th>
        <th scope="col">Saldo</th>
        <th scope="col" class="text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users" id="user-row-{{ user.id }}">
        <td class="text-center">
          <img
            [src]="user.image || '/assets/default-user.png'"
            [alt]="user.username"
            class="user-image rounded-circle"
          />
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.user_type }}</td>
        <td>{{ user.country }}</td>
        <td>{{ user.balance | currency: 'EUR' }}</td>
        <td class="text-center">
          <button
            *ngIf="!user.banned"
            class="btn btn-danger btn-sm"
            (click)="openBanUserModal(user.id)"
          >
            <i class="fas fa-ban"></i> Banir Utilizador
          </button>
          <button
            *ngIf="user.banned"
            class="btn btn-success btn-sm"
            (click)="openUnbanUserModal(user.id)"
          >
            <i class="fas fa-user-check"></i> Desbanir Utilizador
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #noUsers>
  <p class="text-muted text-center">Nenhum utilizador encontrado.</p>
</ng-template>
