<div
  class="card card-hover position-relative"
  style="height: 500px;"
>
  <a [routerLink]="['/company', company.id]" class="card-link">
    <div class="card-img-wrapper">
      <img
        *ngIf="company.logo_base64"
        [src]="'data:image/png;base64,' + company.logo_base64"
        class="card-img-top"
        [alt]="company.name"
      />
      <img
        *ngIf="!company.logo_base64"
        src="/assets/logo.png"
        class="card-img-top"
        alt="Default Logo"
      />
    </div>
    <div class="card-body text-center d-flex flex-column">
      <h5 class="card-title">{{ company.name }}</h5>
      <p class="card-text">{{ company.product_count }} produtos</p>
      <p class="card-text">Avaliação Média: {{ company.average_rating | number:'1.2-2' }}</p>
    </div>
  </a>
  <i
    class="fa fa-heart favorite-icon"
    [ngClass]="{ filled: company.is_favorited }"
    (click)="toggleFavorite($event)"
  ></i>
</div>
