.navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0; 
    font-family: 'Nunito Sans', sans-serif; 
    padding: 0.25rem 1rem; 
    height: 80px;
}
  
  .navbar-brand img {
    max-width: 70px; 
  }
  
  .navbar-nav .nav-link {
    font-weight: normal; 
  }
  
  
  .navbar-nav .nav-link:hover {
    color: #000;
    text-decoration: none;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: bold; 
    color: #000; 
  }
  
  
  .search-login-container {
    margin-left: auto; 
    display: flex;
    gap: 1rem;
  }
  .search-input {
    height: 40px; 
    border: 1px solid #ccc;
    border-radius: 0.25rem 0 0 0.25rem; 
    flex-grow: 1; 
  }
  
  .search-button {
    height: 40px; 
    border-radius: 0 0.25rem 0.25rem 0; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button i {
    margin: 0; 
  }
  .login-button-container {
    text-align: right;
    gap: 0.5rem;
  }
  .login-button-container a {
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-button-container a i {
    margin-right: 0.25rem;
  }
  
  @media (max-width: 992px) {
    .search-login-container {
        flex-direction: column; 
        align-items: flex-start;
        gap: 0rem; 
      }

    .login-button-container {
        text-align: right; 
        width: auto; 
      }
  
      .search-input {
        width: 250px; 
        max-width: 100%; 
  
    .search-button {
      width: 45px; 
    }
    .login-button-container {
        width: auto; 
        text-align: right; 
      }
    }
    }


    .modal-body p {
      font-size: 1.1em;
    }
    
    .list-group-item {
      cursor: pointer;
    }
    
    .list-group-item i {
      margin-right: 10px;
    }
    
    .list-group-item:hover {
      background-color: #f8f9fa;
    }
    .badge {
      font-size: 0.8rem;
      padding: 0.3em 0.6em;
      border-radius: 50%;
      color: white;
      background-color: #dc3545; /* Bootstrap danger color */
    }


    .loading-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5); 
      z-index: 1000;
      transform: scale(2);
    }
    
    .loading-gif {
      width: 100px; 
      height: auto;
    }
    
    .navbar-christmas {
      background-color: #570000 !important; /* Vermelho */
      color: #ffffff !important; /* Texto branco */
      height: 80px;
    }
    
    .navbar-christmas .nav-link,
    .navbar-christmas .navbar-text,
    .navbar-christmas .btn-outline-light {
      color: #ffffff !important; /* Texto e links brancos */
    }
    
    .navbar-christmas .nav-link.active {
      text-decoration: underline;
      font-weight: bold;
    }
    
    .navbar-christmas .fa-paint-brush {
      color: #000000 !important; /* Ícone do pincel preto */
      padding-left: 0px;
    }
    
    .bg-white {
      background-color: #ffffff !important;
    }
    
    .text-black {
      color: #000000 !important;
    }

    .christmas-logo {
      background-color: #ffffff; /* Fundo branco */
      padding: 0px; /* Espaço ao redor do ícone */
      border-radius: 50px; /* Bordas arredondadas */
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra leve para destaque */
    }
    
    
    /* Hover para o tema default */
.hover-default:hover {
  background-color: #000000; /* Cinza no hover */
  color: #ffffff; /* Texto branco no hover */
}

.hover-default:hover i,
.hover-default:hover span {
  color: #ffffff !important; /* Ícones e texto brancos */
}

/* Hover para o tema dark */
.hover-dark:hover {
  background-color: #ffffff; /* Fundo branco no hover */
  color: #000000; /* Texto preto no hover */
}

.hover-dark:hover i,
.hover-dark:hover span {
  color: #000000 !important; /* Ícones e texto pretos */
}

.hover-christmas:hover {
  background-color: #000000; /* Fundo branco no hover */
  color: #ffffff; /* Vermelho no hover */
}

.btn-outline-light.text-white:hover {
  color: black !important; /* Altera a cor do texto para preto */
  background-color: white !important; /* Opcional: fundo branco */
  border-color: white !important; /* Garante que a borda mantenha a cor */
}

.nav-link::after {
  content: none; /* Remove qualquer conteúdo */
}
