<nav class="navbar navbar-expand-lg" 
[ngClass]="{
  'navbar-light bg-light': theme !== 'christmas',
  'navbar-christmas': theme === 'christmas'
}"
style="padding: 0.25rem 0; min-height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/logo.png"
        class="logo"
        alt="Logo"
        width="80"
        [ngClass]="{ 'christmas-logo': theme === 'christmas' }"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'text-white': theme === 'christmas' }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/products-page'" routerLinkActive="active" [ngClass]="{ 'text-white': theme === 'christmas' }">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/artists-page'" routerLinkActive="active" [ngClass]="{ 'text-white': theme === 'christmas' }">Artistas e Bandas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/companhias-page'" routerLinkActive="active" [ngClass]="{ 'text-white': theme === 'christmas' }">Empresas</a>
        </li>
        <li *ngIf="user?.user_type === 'admin'" class="nav-item">
          <a 
            class="nav-link" 
            [routerLink]="'/admin-home'" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{ exact: true }" 
            [ngClass]="{ 'text-white': theme === 'christmas' }">
            Dashboard
          </a>
        </li>
        
        <li *ngIf="user?.user_type === 'company'" class="nav-item">
          <a 
          class="nav-link" 
          [routerLink]="['/my-company-products', user?.company?.id || 0]" 
          routerLinkActive="active" 
          [ngClass]="{ 'text-white': theme === 'christmas' }"
        >
          Os Meus Produtos
        </a>
        </li>
      </ul>

      <!-- User Options -->
      <div *ngIf="user" class="ms-auto d-flex align-items-center">
        <div class="navbar-text me-3 fw-bold fs-5" [ngClass]="{ 'text-white': theme === 'christmas' }">
          Bem-Vindo(a), {{ user.username }}
        </div>
        

        <!-- User Actions -->
        <ng-container [ngSwitch]="user.user_type">
          <!-- Individual User Options -->
          <a *ngSwitchCase="'individual'" routerLink="/profile" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-user"></i>
          </a>
          <span *ngSwitchCase="'individual'" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            Saldo: {{ user.balance | currency:'EUR' }}
          </span>
          <button *ngSwitchCase="'individual'" class="btn btn-outline-success me-2" data-bs-toggle="modal" data-bs-target="#addFundsModal" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }" >
            <i class="fa fa-plus"></i>
          </button>
          <!-- Add Funds Modal -->
          <div 
          class="modal fade" 
          id="addFundsModal" 
          tabindex="-1" 
          aria-labelledby="addFundsModalLabel" 
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addFundsModalLabel">Adicionar Saldo</h5>
                <button 
                  type="button" 
                  class="btn-close" 
                  data-bs-dismiss="modal" 
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form>
                  <!-- Payment Method Selection -->
                  <div class="mb-3">
                    <label for="paymentMethod" class="form-label">Método de Pagamento</label>
                    <select 
                      id="paymentMethod" 
                      class="form-select" 
                      [(ngModel)]="selectedPaymentMethod" 
                      name="paymentMethod"
                    >
                      <option value="" disabled selected>Selecione um método</option>
                      <option value="Transferência Bancária">Transferência Bancária</option>
                      <option value="MBWay">MBWay</option>
                      <option value="PayPal">PayPal</option>
                      <option value="Cartão de Crédito">Cartão de Crédito</option>
                      <option value="Criptomoeda">Criptomoeda</option>
                    </select>
                  </div>
        
                  <!-- Amount Input -->
                  <div class="mb-3">
                    <label for="amount" class="form-label">Valor a Adicionar (€)</label>
                    <input 
                      type="number" 
                      id="amount" 
                      class="form-control" 
                      [(ngModel)]="amount" 
                      name="amount" 
                      min="1" 
                      placeholder="Insira o valor"
                    />
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button 
                  type="button" 
                  class="btn btn-secondary" 
                  data-bs-dismiss="modal"
                >
                  Cancelar
                </button>
                <button 
                  type="button" 
                  class="btn btn-success" 
                  [disabled]="!selectedPaymentMethod || !amount || amount <= 0"
                  (click)="addFunds()"
                >
                  Confirmar
                </button>
              </div>
            </div>
          </div>
        </div>
          <a *ngSwitchCase="'individual'" routerLink="/manage_cart" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-shopping-cart"></i>
          </a>
          <a *ngSwitchCase="'individual'" routerLink="/favorites" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-heart text-danger"></i>
          </a>

          <a routerLink="/chat" class="btn btn-outline-dark me-2 position-relative" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light text-white': theme === 'christmas'
          }"
          *ngIf="user?.user_type === 'individual' || user?.user_type === 'company'"
          >
          <i class="fa fa-message"></i>
          <!-- Unread Messages Badge -->
          <span
            *ngIf="unreadMessagesCount > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            style="font-size: 0.8rem;"
          >
            {{ unreadMessagesCount }}
            <span class="visually-hidden">unread messages</span>
          </span>
        </a>

          <!-- Admin User Options -->
          <a *ngSwitchCase="'admin'" routerLink="/admin/add/company" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-plus"></i> Adicionar Empresa
          </a>


          <li class="nav-item dropdown" style="list-style-type: none; margin: 0; padding: 0;">
            <a
              class="nav-link dropdown-toggle d-flex align-items-center justify-content-center rounded-circle  theme-button"
              *ngSwitchCase="'admin'"
              href="#"
              id="themeDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              [ngClass]="{
                'bg-light border-dark text-black': theme == 'default',
                'bg-white border-white text-black': theme === 'christmas',
              }"
              style="
                width: 40px; 
                height: 40px; 
                padding: 0;
                margin-right: 10px;"
            >
              <i class="fa fa-paint-brush" style="font-size: 20px;"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end shadow-sm rounded" aria-labelledby="themeDropdown">
              <li>
                <a class="dropdown-item d-flex align-items-center " (click)="changeTheme('default')" [ngClass]="{
                  'hover-default': theme === 'default',
                  'hover-dark': theme === 'dark',
                  'hover-christmas': theme === 'christmas'
                }">
                  <i class="fa fa-circle text-primary me-2"></i>
                  <span>Padrão</span>
                </a>
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" (click)="changeTheme('christmas')" [ngClass]="{
                  'hover-default': theme === 'default',
                  'hover-dark': theme === 'dark',
                  'hover-christmas': theme === 'christmas'
                }">
                  <i class="fa fa-tree text-success me-2"></i>
                  <span>Natal</span>
                </a>
              </li>
            </ul>
          </li>
          <a *ngSwitchCase="'admin'" routerLink="/profile" class="btn btn-outline-dark me-2" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-user"></i>
          </a>
        </ng-container>

      </div>
    </div>

        <!-- Search Form -->
        <form class="d-flex align-items-center me-3" (submit)="onSearch()">
          <input
            class="form-control search-input"
            type="text"
            placeholder="Pesquisar"
            [(ngModel)]="searchQuery"
            name="search"
            (keyup)="onKeyUp()"
          />
          <button class="btn btn-outline-dark" type="submit" [ngClass]="{
            'btn-outline-dark': theme !== 'christmas',
            'btn-outline-light': theme === 'christmas'
          }">
            <i class="fa fa-search"></i>
          </button>
        </form>
    <div class="search-login-container ms-auto d-flex">
            <!-- Guest Login Section -->
            <ng-template #loginSection>
              <div class="login-button-container">
                <a class="btn btn-outline-dark" [ngClass]="{
                  'btn-outline-dark': theme !== 'christmas',
                  'btn-outline-light': theme === 'christmas'
                }" (click)="handleLogin()">
                  <i class="fa fa-user"></i> Login
                </a>
              </div>
            </ng-template>
            <ng-container *ngIf="!user">
              <ng-container *ngTemplateOutlet="loginSection"></ng-container>
            </ng-container>
          </div>
    
    <app-theme-button></app-theme-button>
    <!-- Botão de Logout -->
    <a (click)="logout()" 
       class="btn btn-outline-dark ms-3" 
       [ngClass]="{
          'btn-outline-dark': theme !== 'christmas',
          'btn-outline-light text-white': theme === 'christmas'
       }">
       <i class="fas fa-sign-out-alt"></i>
    </a>

  </div>
</nav>

<div *ngIf="isLoading" class="loading-overlay">
  <img src="assets/loading.gif" alt="Loading..." class="loading-gif" />
</div>
