<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0.25rem 0; min-height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" class="logo" alt="Logo" width="80" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/'" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/products-page'" routerLinkActive="active">Produtos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/artists-page'" routerLinkActive="active">Artistas e Bandas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="'/companhias-page'" routerLinkActive="active">Empresas</a>
        </li>
      </ul>



      <!-- Search and Theme Button -->
      <div class="search-login-container ms-auto d-flex">



          <!-- Login Section -->
          <ng-template #loginSection>
            <div class="login-button-container">
              <a routerLink="/login" class="btn btn-outline-dark"><i class="fa fa-user"></i> Login</a>
            </div>
            <form class="d-flex align-items-center" (submit)="onSearch()">
              <input
                class="form-control search-input"
                type="text"
                placeholder="Pesquisar"
                [(ngModel)]="searchQuery"
                name="search"
                (keyup)="onKeyUp()"
              />
              <button class="btn btn-outline-dark search-button" type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </ng-template>
          <ng-container *ngIf="!user">
            <ng-container *ngTemplateOutlet="loginSection"></ng-container>
          </ng-container>
        </div>
            <!-- User-specific options -->
            <div *ngIf="user" class="ms-auto d-flex align-items-center">
              <div class="navbar-text me-3 fw-bold fs-5">
                Bem-Vindo(a), {{ user.user_type | titlecase }} {{ user.username }}
              </div>
              <form class="d-flex align-items-center" style="margin-right: 10px;" (submit)="onSearch()">
                <input
                  class="form-control search-input"
                  type="text"
                  placeholder="Pesquisar"
                  [(ngModel)]="searchQuery"
                  name="search"
                  (keyup)="onKeyUp()"
                />
                <button class="btn btn-outline-dark search-button" type="submit">
                  <i class="fa fa-search"></i>
                </button>
              </form>
              <ng-container [ngSwitch]="user.user_type">
                <a *ngSwitchCase="'individual'" routerLink="/profile" class="btn btn-outline-dark me-2">
                  <i class="fa fa-user"></i>
                </a>
                <a *ngSwitchCase="'individual'" routerLink="/cart" class="btn btn-outline-dark me-2">
                  <i class="fa fa-shopping-cart"></i>
                </a>
                <a *ngSwitchCase="'individual'" routerLink="/favorites" routerLinkActive="active" class="btn btn-outline-dark me-2">
                  <i class="fa fa-heart text-danger"></i>
                </a>
      
                <a *ngSwitchCase="'admin'" routerLink="/profile" class="btn btn-outline-dark me-2">
                  <i class="fa fa-user"></i>
                </a>
                <a *ngSwitchCase="'admin'" routerLink="/add-company" class="btn btn-outline-dark me-2">
                  <i class="fa fa-plus"></i> Adicionar Empresa
                </a>
      
                <a *ngSwitchCase="'company'" [routerLink]="'/company-products'" class="btn btn-outline-dark me-2">
                  <i class="bi bi-archive-fill"></i> Ver os meus produtos
                </a>
                <a *ngSwitchCase="'company'" routerLink="/profile" class="btn btn-outline-dark me-2">
                  <i class="fa fa-user"></i>
                </a>
              </ng-container>
              <a (click)="logout()" class="btn btn-outline-dark"><i class="fas fa-sign-out-alt"></i></a>
            </div>

              <!-- Theme Button -->
              <app-theme-button></app-theme-button>

      <!-- Display Login Section If User Is Not Logged In -->


    </div>
  </div>
</nav>
