<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="assets/logo.png" alt="Logo" width="80" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/products-page'"
              [routerLinkActive]="'active'"
              >Produtos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/artistas'"
              [routerLinkActive]="'active'"
              >Artistas e Bandas</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/companhias'"
              [routerLinkActive]="'active'"
              >Empresas</a
            >
          </li>
        </ul>
  
        <!-- Contêiner para a barra de pesquisa e o botão de login -->
        <div class="search-login-container ms-auto d-flex">
          <!-- Barra de pesquisa -->
          <form class="d-flex align-items-center mb-2" (submit)="onSearch()">
            <input
              class="form-control search-input"
              type="text"
              placeholder="Pesquisar"
              [(ngModel)]="searchQuery"
              name="search"
            />
            <button class="btn btn-outline-dark search-button" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
  
          <!-- Botão de login -->
          <div class="login-button-container">
            <a routerLink="/login" class="btn btn-outline-dark">
              <i class="fas fa-user"></i> Login
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  