<div class="row">
    <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of products">
      <div class="product-card">
        <!-- Favorite Icon -->
        <i
        *ngIf="!isAuthenticaded || user?.user_type === 'individual'"
        class="fa fa-heart favorite-icon"
        [ngClass]="{ filled: product.is_favorited }"
        (click)="toggleFavorite($event,product.id)">
      </i>
  
        <!-- Product Link -->
        <a [routerLink]="['/product', product.id]">
          <img [src]="product.image_url" [alt]="product.name" />
          <div class="p-3 text-center">
            <p class="product-name">{{ product.name }}</p>
            <p class="product-price">
              <span *ngIf="product.is_on_promotion">
                <span class="text-muted" style="text-decoration: line-through;">
                  {{ product.old_price | currency: 'EUR' }}
                </span>
                <span class="text-danger fw-bold ms-2">
                  {{ product.price | currency: 'EUR' }}
                </span>
                <span class="badge bg-warning text-dark ms-2">Promoção</span>
              </span>
              <span *ngIf="!product.is_on_promotion">
                {{ product.price | currency: 'EUR' }}
              </span>
            </p>
            <button class="btn btn-add-to-cart w-100" (click)="addToCart(product)">Adicionar ao carrinho</button>
          </div>
        </a>
      </div>
    </div>
  </div>
  