<div class="container-fluid" style="padding-left: 0px !important; padding-right: 0px !important; font-size: 20px;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav navzinha">
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="switchCategory('products')" [class.active]="category === 'products'">
              Produtos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="switchCategory('artists')" [class.active]="category === 'artists'">
              Artistas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="switchCategory('company')" [class.active]="category === 'company'">
              Empresas
            </a>
          </li>
        </ul>
      </div>
    </nav>
  
    <!-- Produtos -->
    <div *ngIf="category === 'products'" class="favorite-section">
      <h2 class="text-center">Os meus produtos favoritos:</h2>
      <div *ngIf="favoriteProducts.length > 0; else noFavorites">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Produto</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of favoriteProducts">
              <td class="align-center">
                <a [routerLink]="['/product', product.product.id]" class="text-decoration-none no-link-color" style="text-decoration: none;">
                  <div class="product-info d-flex align-items-center">
                    <img [src]="product.product.image_url" alt="{{ product.name }}" class="product-image mr-3">
                  </div>
                </a>
              </td>
              <td>
                <div>
                  <h5>{{ product.product.name }}</h5>
                </div>
              </td>
              <td>{{ product.product.price }}€</td>
              <td class="text-right">
                <button class="btn btn-danger mr-2" (click)="removeProductFromFavorites(product.product.id)">
                  <i class="fas fa-trash-alt"></i> Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noFavorites>
        <p class="text-muted text-center">Não há produtos favoritos. Adicione produtos aos seus favoritos.</p>
      </ng-template>
    </div>
  
    <!-- Artistas -->
    <div *ngIf="category === 'artists'" class="favorite-section">
      <h2 class="text-center">Os meus artistas favoritos:</h2>
      <div *ngIf="favoriteArtists.length > 0; else noFavorites">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Artista</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let artist of favoriteArtists">
              <td>
                <img [src]="artist.artist.image_url" alt="{{ artist.name }}" class="product-image mr-3">
              </td>
              <td>{{ artist.artist.name }}</td>
              <td class="text-right">
                <button class="btn btn-danger mr-2" (click)="removeArtistFromFavorites(artist.artist.id)">
                  <i class="fas fa-trash-alt"></i> Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noFavorites>
        <p class="text-muted text-center">Não há artistas favoritos. Adicione artistas aos seus favoritos.</p>
      </ng-template>
    </div>
  
    <!-- Empresas -->
    <div *ngIf="category === 'company'" class="favorite-section">
      <h2 class="text-center">As minhas empresas favoritas:</h2>
      <div *ngIf="favoriteCompanies.length > 0; else noFavorites">
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Empresa</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of favoriteCompanies">
              <td>
                <img [src]="'data:image/png;base64,' + company.company.logo_base64" alt="{{ company.name }}" class="product-image mr-3">
              </td>
              <td>{{ company.company.name }}</td>
              <td class="text-right">
                <button class="btn btn-danger mr-2" (click)="removeCompanyFromFavorites(company.company.id)">
                  <i class="fas fa-trash-alt"></i> Remover
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #noFavorites>
        <p class="text-muted text-center">Não há empresas favoritas. Adicione empresas aos seus favoritos.</p>
      </ng-template>
    </div>
  </div>
  