<div class="container my-5" style="max-width: 75%;">
  <!-- Cabeçalho do Artista -->
  <div class="artist-header artist-background" [style.background-image]="'url(' + artist?.backgroundUrl + ')'">
    <div class="overlay">
      <img *ngIf="artist?.image" [src]="artist.image" [alt]="artist.name" class="artist-photo" />
      <h2>{{ artist?.name }}</h2>
    </div>
  </div>

  <!-- Container Principal -->
  <div class="produtos-container mt-5">
    <div class="row">
      <!-- Filtros -->
      <div class="col-md-3">
        <h4>Filtros</h4>
        <app-filtro
          [genres]="genres"
          [colors]="colors"
          (filtersChanged)="onFiltersApplied($event)">
        </app-filtro>
      </div>

      <!-- Lista de Produtos -->
      <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-3 ordenar-por-container">
          <p>{{ filteredProducts.length }} produtos</p>
          <div class="dropdown ordenar-dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
              Ordenar por:
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li>
                <button class="dropdown-item" (click)="sortProducts('featured')">Em destaque</button>
              </li>
              <li>
                <button class="dropdown-item" (click)="sortProducts('priceAsc')">Preço (ascendente)</button>
              </li>
              <li>
                <button class="dropdown-item" (click)="sortProducts('priceDesc')">Preço (descendente)</button>
              </li>
            </ul>
          </div>
        </div>

        <div class="row">
          <!-- Cartões de Produtos -->
          <app-artists-card-products
            [products]="filteredProducts"
            [isAuthenticated]="isAuthenticated"
            [user]="user"
            (favoriteToggled)="onFavoriteToggled($event)">
          </app-artists-card-products>
        </div>
      </div>
    </div>
  </div>
</div>
