/* Importing Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #850000, #000000);
}

.container {
  max-width: 750px;
  height: 900px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 10px;
  margin-left:27%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  margin-bottom: 100px;
}

.container .title {
  font-size: 35px;
  font-weight: 500;
  position: relative;
  text-align: center;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3px;
  width: 50px;
  border-radius: 5px;
  background: linear-gradient(135deg, #000000, #000000);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 20px 0;
}

.user-details .input-box {
  flex: 1;
  min-width: calc(50% - 10px);
}

.input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input,
.user-details .input-box select {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #a5a5a5;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus {
  border-color: #000000;
}

.user-details .input-box input[type="file"] {
    padding: 10px; /* Adicionando padding */
    border: 2px solid #000000; /* Aumentando a espessura da borda */
    border-radius: 5px; /* Mantendo as bordas arredondadas */
    transition: border-color 0.3s ease; /* Adicionando uma transição suave */
}

.button {
  text-align: center;
  margin-top: 20px;
}

.button input {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #000000, #000000);
}

.button input:hover {
  color:rgb(0, 0, 0);
  font-weight: bold;
  background: linear-gradient(-135deg, #ff5252, #ff5f5f);
}

/* Media query for mobile devices */
@media (max-width: 584px) {
  .user-details .input-box {
    min-width: 100%;
  }
}

.is-invalid {
  border-color: red;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
}
